h3 
	i.fa.fa-star
	| Topkontakte

ul.topcontacts
	- each contact in info.top
		li
			div.name
				a(href="/dashboard/#{id}/contact/#{contact.contact.id}") #{contact.contact.name}
			div.percentage(style="width: #{contact.percent}%")
			div.stats
				div.minutes
					i.fa.fa-phone
					span
						| #{contact.minutes.out}
						i.fa.fa-arrow-up.dir
					span
						| #{contact.minutes.in}
						i.fa.fa-arrow-down.dir
				div.messages
					i.fa.fa-envelope
					span
						| #{contact.messages.out}
						i.fa.fa-arrow-up.dir
					span
						| #{contact.messages.in}
						i.fa.fa-arrow-down.dir
