h4 #{results.length} Treffer zu diesem Zeitpunkt
ul.results
	- each result in results
		li
			h5
				| #{result.author} (#{result.items.length} Elemente)
			ul.items
				- each item in result.items
					li
						case item.type
							when 'CALL_INCOMING'
								i.fa.fa-phone
								i.fa.fa-arrow-left
							when 'CALL_OUTGOING'
								i.fa.fa-phone
								i.fa.fa-arrow-right
							when 'CALL_MISSED'
								i.fa.fa-phone
								i.fa.fa-reply
							when 'MSG_INCOMING_MMS'
								i.fa.fa-envelope
								i.fa.fa-picture-o
								i.fa.fa-arrow-left
							when 'MSG_OUTGOING_MMS'
								i.fa.fa-envelope
								i.fa.fa-picture-o
								i.fa.fa-arrow-right
							when 'MSG_INCOMING_SMS'
								i.fa.fa-envelope
								i.fa.fa-arrow-left
							when 'MSG_OUTGOING_SMS'
								i.fa.fa-envelope
								i.fa.fa-arrow-right
							when 'MSG_INCOMING_WA_TEXT'
								i.fa-comments
								i.fa.fa-arrow-left
							when 'MSG_OUTGOING_WA_TEXT'
								i.fa.fa-comments
								i.fa.fa-arrow-right
						a(href="#{item.url}") #{item.date} Uhr: #{item.text}

