h2 Aktivität pro Tag für 
	span.year #{dailyyear}

div.chart

div.info
	h3 Durchschnittlich
	div
		i.fa.fa-phone
		span.minutes #{dailyminutes}
		|  Minuten
	div 
		i.fa.fa-envelope
		span.messages #{dailymessages}
		|  Nachrichten
	div 
		i.fa.fa-comment
		span.whatspp #{dailywhatsapp}
		|  Whatsapp
	div 
		i.fa.fa-calendar
		span.events #{dailyevents}
		|  Termine
	div 
		i.fa.fa-globe
		span.browser #{dailybrowsers}
		|  Webseiten