h2 Aktivität pro Monat für 
	span.year #{monthlyyear}

div.chart

div.info
	h3 Durchschnittlich
	div
		i.fa.fa-phone
		span.minutes #{monthlyminutes}
		|  Minuten
	div 
		i.fa.fa-envelope
		span.messages #{monthlymessages}
		|  Nachrichten
	div 
		i.fa.fa-comment
		span.whatspp #{monthlywhatsapp}
		|  Whatsapp
	div 
		i.fa.fa-calendar
		span.events #{monthlyevents}
		|  Termine
	div 
		i.fa.fa-globe
		span.browser #{monthlybrowsers}
		|  Webseiten