div.summary.
	Auf dem Handy sind <strong>#{info.contacts.total} Kontakte</strong> gespeichert.
	Es wurde bisher <strong>#{info.messages.total} Nachrichten</strong> verschickt/empfangen und <strong>#{info.calllogs.total} Minuten</strong> telefoniert.
	Es sind <strong>#{info.events.total} Termine</strong> gespeichert. Bisher wurden <strong>#{info.browser.total} Webseiten</strong> besucht
