h3 Im 
	a(href="#month") Monat 
	| #{timestats.month.most} wurden die meisten Telefonate geführt und die meisten Nachrichten versendet/empfangen.

h3 Der am meisten frequentierte 
	a(href="#week") Tag 
	| ist der #{timestats.day.most}.

h3 Die 
	a(href="#day") Zeit 
	| zwischen #{timestats.hour.most} Uhr ist das aktivste Interval.

h3 Ein 
	a(href="#") Telefonat 
	| dauert im Durchschnitt #{timestats.calls.average} Minuten und eine gesendete 
	a(href="#") Nachricht 
	| ist im Schnitt #{timestats.messages.average} Zeichen lang.